<div id="about-menu" style="display: none;">
		<%= link_to 'MISSION & VISION', mission_path %> |
		<%= link_to 'BACKGROUND', background_path %> |
		<%= link_to 'QUARTERLY REPORT', '/pdf/quarterlyreport.pdf' %> |
		<%= link_to 'OUR TEAM', our_team_path %> |
		<%= link_to 'BOARD OF DIRECTORS', board_path %>
		<%= link_to 'SUPPORTERS & PARTNERS', supporters_path %> | 
		<%= link_to 'EVALUATION', evaluation_path %> |
		<%= link_to 'MOISHE MONTHLY', moishemonthly_path %> |
		<%= link_to 'JOBS', jobs_path %>
</div>

<div id="houses-menu" style="display: none;">
	<%= link_to 'HOUSE LIST', houselist_path %> |
	<%= link_to 'APPLY', apply_path %>
</div>